<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>To-Do App</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
            <ul class="nav navbar-nav">
                <li><a href="/">To-Dos</a></li>
                <li class="active"><a href="/help">Help<span class="sr-only"> (current)</span></a></li>
            </ul>
        </nav>
    </div>
    <br/>
    <div class="jumbotron" style="padding-left:130px;">
        <h1>Help Page</h1>
        <p>You've gotten this far, so you obviously don't need it! <br>...by {{name}} Pitchford</p>
        <h2>Requirements</h2>
        <ol>
            <li><h3>Specifications</h3>
                <ul>
                    <li>"Your app must support creating, reading, updating, and deleting of todo list items."</li>
                </ul>
            </li>
            <li><h3>Technologies</h3>
                <ul>
                    <li>"If you use a database to store app data, it must be MySQL and you must provide a SQL script to create the schema as part of your pull request." Also, "I would also ask that they not use an ORM, they’re free to use anything standard to PHP tho$
                    <li>"Your todo app must have a PHP server-side component." Also, "No pre-built MVC frameworks may be used on the PHP side."</li>
                    <li>"The frontend portion of your app is entirely freeform." Also, "If they want to use a MVC JS framework for the frontend, they absolutely can do that!"</li>
                </ul>
            </li>
        </ol>
    </div>
</div>
</body>
</html>