// Body
$body-bg: #b2b4b5bf;
$semi-transparent-bg: rgba(255,255,255,0.7);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color: #031e48;

// Lists
$sticky-note-yellow: #f8de59;
$sticky-note-offwhite: #e6e5d6;
$sticky-note-shadow: #191b1d;
